{% extends 'cart/base.html' %}
{% load static %}
{% block title %}
    Your Shopping Cart
{% endblock %}

{% block style %}
<link href="{% static 'css/cart_detail.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
{% block cart-link %}
{% endblock %}
    <div class="container">
        <div id="mycart" class="row" >
        <h1 class="cart-head"><i class="mdi mdi-cart" style="color: #ff00cc"></i> Your Shopping Cart
            <span class="bdg" style="font-size: 15px; font-weight: bold;">
                {% with totail_items=mycart|length %}
                    {% if mycart|length > 0 %}
                        My Shopping Order:
                        <a class="text-right" href="{% url "mycart:mycart_detail" %}" style="color: #ffffff; margin-left: 10px; font-weight: lighter;">
                            {{ totail_items }} item{{ totail_items| pluralize }}, GHC. {{ mycart.get_total_price }}
                        </a>
                        {% else %}
                        Your cart is empty at the moment.
                    {% endif %}
                {% endwith %}
            </span>
        </h1>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                        <th>Unit Price</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in mycart %}
                    {% with product=item.product  %}
                        <tr>
                            <td>
                                <a href="{{ product.get__absolute_url }}">
                                    <img class="shadow-sm" src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="width: 100px; height: 100px;">
                                </a>
                            </td>
                            <td>{{ product.name }}</td>
                            <td>
                                <form action="{% url "mycart:mycart_add" product.id %}" method="post" style="display: inline-block">
                                    {% csrf_token %}
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.update }}
                                <button id="btns" class="btn btn-primary" type="submit" value="Update"><i class="fa fa-refresh"></i> Update</button>
                                </form>
                            </td>
                            <td>
                                <a id="btns" class="btn btn-primary" href="{% url "mycart:mycart_remove" product.id %}"><i class="fa fa-trash"></i> Remove</a>
                            </td>
                            <td>GHC. {{ item.price }}</td>
                            <td>GHC. {{ item.total_price }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr style="background-color: #000">
                    <td id="tbtm"><b>Total</b></td>
                    <td colspan="4"></td>
                    <td id="tbtm" colspan="num"><b>GHC. {{ mycart.get_total_price }}</b></td>
                </tr>
                </tbody>
            </table>
            </div>
        <p class="cartBtn">
            <a id="btns" href="{% url "cart:product_list" %}" class="btn btn-primary"> Continue Shopping <i class="fa fa-arrow-right"></i></a>
            <a id="btns" href="{% url "orders:order_create" %}" class="btn btn-primary"> <i class="fa fa-shopping-basket"></i> Checkout</a>
        </p>
        </div>
    </div>
{% endblock %}