
/*Navbar*/
#nav1 {
  background-color: #000 !important;
}
 #mycart {
   margin-top: 6%;
 }


.bdg {
    display: flex;
    content-align: right;
    background: #000;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 500 !important;
    border-radius: 50px;
    padding: 10px 20px;
}

thead  {
    background-color: #000;
}

#tbtm, th {
    color: #ff00cc;
}

.cartBtn {
    margin: 0 30px;
}


#btns {
    border: none;
    border-radius: 100px;
    margin: auto;
    background: red;
    background: -webkit-linear-gradient(left, #ff00be, purple);
    background: -o-linear-gradient(right, #ff00be, purple);
    background: -moz-linear-gradient(right, #ff00be, purple);
    background: linear-gradient(to right, #ff00be, purple);
    color: #fff;
    font-size: 13px;
    padding: 10px 30px;
    font-weight: bold;
}


#btns:hover {
    background: #fff;
    color: #f0c;
    transition: all ease-in-out 0.25s;
}

#btns:focus {
    outline: none;
}

@media screen and (max-width: 980px) {
    .cartBtn {
        margin: auto !important;
        left: 0;
        right: 0;
        justify-content: center;
        text-align: center;
    }

    .act {
        margin: 10px 10px !important;
        width: 70% !important;
    }

    .cart-head {
        margin: 30px auto;
        font-size: 25px;
    }

    .delta{
        padding: 5px 10px !important;
        margin: 5px 0 !important;
    }

    .spec {
        margin-left: 10px !important;
    }

    .cart-head > span {
        font-size: 13px !important;
    }

    table {
        font-size: medium;
    }
}